@model Category

<form asp-action="Create">
    <div class="">
        <h2>Edit Category</h2>
    </div>
    <div asp-validation-summary="ModelOnly"></div>

    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="DisplayOrder" class="form-label"></label>
        <input asp-for="DisplayOrder" class="form-control" />
        <span asp-validation-for="DisplayOrder" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Update</button>
    <button asp-controller="Category" class="btn btn-primary" asp-action="index">Back</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
